---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Skychik Portal">
  <main class="m-auto max-w-2xl p-6">
    <h1 class="text-center font-extrabold text-5xl">
      Welcome to <span class="text-gradient">My Portal</span>
    </h1>
    <p class="instructions my-4">
      My name is Kirill ðŸ‘¨. But you can know me as <strong>skychik</strong>.
      Check out my socials
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://github.com/skychik"
        title="GitHub"
        body="Plan to have more test projects there ðŸš€"
      />
      <Card
        href="https://www.linkedin.com/in/kirill-esakov-82a867181/"
        title="LinkedIn"
        body="Don't do much there, but 'Connect' with everyone I know ðŸ˜"
      />
    </ul>
    <h2 class="text-center font-extrabold text-3xl mt-12">
      ðŸš§ Under construction ðŸš§
    </h2>
    <ul role="list" class="link-card-grid my-4">
      <Card
        title="Telegram"
        body="Thought to have a twitter-like blog with some useful and funny bots ðŸ¤–"
      />
    </ul>
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
